<!-- BEGIN: Footer-->

<footer class="page-footer footer footer-static footer-dark" style="background-color:#857703">
    <div class="footer-copyright">
        <div class="container"><span>© 2020 <a
                    href="/"
                    target="_blank">ANsuz</a> All rights reserved.</span><span
                class="right hide-on-small-only">Developed by
                <a href="/">ANsuz</a></span></div>
    </div>
</footer>

<!-- END: Footer-->