<!-- BEGIN: Header-->
<header class="page-topbar" id="header">
    <div class="navbar navbar-fixed">
        <nav class="navbar-main navbar-color nav-collapsible sideNav-lock" style="background-color:#857703">
            <div class="nav-wrapper">
                <ul class="navbar-list right">
                    <li class="hide-on-med-and-down"><a class="waves-effect
                            waves-block waves-light toggle-fullscreen"
                            href="javascript:void(0);"><i
                                class="material-icons">settings_overscan</i></a></li>
                    <li><a class="waves-effect
                            waves-block waves-light"
                            href="/logout"><i
                                class="material-icons">keyboard_tab</i></a></li>
                    <li><a class="waves-effect waves-block waves-light
                            sidenav-trigger" href="#"
                            data-target="slide-out-right"><i
                                class="material-icons">format_indent_increase</i></a></li>
                </ul>
                <!-- translation-button-->

                <!-- notifications-dropdown-->

                <!-- profile-dropdown-->

            </div>
            <nav class="display-none search-sm" style="display: none;">
                <div class="nav-wrapper">
                    <form id="navbarForm">
                        <div class="input-field search-input-sm">
                            <input class="search-box-sm mb-0" type="search"
                                required="" id="search" placeholder="Explore
                                Materialize" data-search="template-list">
                            <label class="label-icon active" for="search"><i
                                    class="material-icons search-sm-icon">search</i></label><i
                                class="material-icons search-sm-close">close</i>
                            <ul class="search-list collection search-list-sm
                                display-none ps"><div class="ps__rail-x"
                                    style="left: 0px; bottom: 0px;"><div
                                        class="ps__thumb-x" tabindex="0"
                                        style="left: 0px; width: 0px;"></div></div><div
                                    class="ps__rail-y" style="top: 0px; right:
                                    0px;"><div class="ps__thumb-y" tabindex="0"
                                        style="top: 0px; height: 0px;"></div></div></ul>
                        </div>
                    </form>
                </div>
            </nav>
        </nav>
    </div>
</header>
<!-- END: Header-->