<!--Begin navbar antes no se podia, no se que hayas hecho con lo de la pagina de errores de inicio no hice nada xd, sólo un render si no hay rows2 y ya-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">My Chemist Lab</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarColor03">
              <ul class="navbar-nav mr-auto"> 
                          <li class="nav-item">
                            <a class="nav-link" href="/home">Grupo</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="/Chatp">Chat</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="/ModificarDatosF">Modificar</a>
                            </li>
                          
              </ul>
              <form class="form-inline my-2 my-lg-0">
                    <a class="btn btn-danger my-2 my-sm-0" href="/logout">Cerrar Sesión</a>
              </form>
            </div>
          </nav>
        
          <!-- end navbar-->