<!--Begin navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-admin">
        <a class="navbar-brand" href="/">My Chemist Lab</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
            aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/Admin">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ConsultaAdmin">Usuarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ConsultaAdministradores">Administradores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/AdminPracticas">Practicas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/AddGrupo">Grupos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/graficas">Graficas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Cerrar sesión</a>
                </li>
            </ul>

        </div>
    </nav>

    <!-- end navbar -->
    