<!-- BEGIN: SideNav-->
<aside class="sidenav-main nav-expanded nav-lock nav-collapsible sidenav-light
    sidenav-active-square">
    <div class="brand-sidebar">
        <h1 class="logo-wrapper"><a class="brand-logo darken-1"
                href="/web"><img class="hide-on-med-and-down"
                    src="/app-assets/images/logo/algebra.png"
                    alt="materialize logo"><img class="show-on-medium-and-down
                    hide-on-med-and-up"
                    src="/app-assets/images/logo/algebra.png"
                    alt="materialize logo"><span class="logo-text
                    hide-on-med-and-down">GAMMA</span></a><a
                class="navbar-toggler" href="#!"><i class="material-icons">radio_button_checked</i></a></h1>
    </div>
    <ul class="sidenav sidenav-collapsible leftside-navigation collapsible
        sidenav-fixed menu-shadow ps ps--active-y" id="slide-out"
        data-menu="menu-navigation" data-collapsible="menu-accordion"
        style="transform: translateX(0%);">
        
        <li class="navigation-header"><a class="navigation-header-text">Gestión</a><i
                class="navigation-header-icon material-icons">more_horiz</i>
        </li>
        <li class="bold"><a class="waves-effect waves-cyan"href="/web"><i
                    class="material-icons">class</i><span
                    class="menu-title" data-i18n="Mail">Grupos</span>
                    <!--<span class="badge new badge pill pink accent-2 float-right mr-2">5</span>--></a>
        </li>
        <li class="bold"><a class="waves-effect waves-cyan"href="/web/apoyos-a-alumnos"><i
                    class="material-icons">archive</i><span
                    class="menu-title" data-i18n="Mail">Apoyos</span>
                    <!--<span class="badge new badge pill pink accent-2 float-right mr-2">5</span>--></a>
        </li>
        <li class="bold"><a class="waves-effect waves-cyan"href="/web/preguntas"><i
                    class="material-icons">question_answer</i><span
                    class="menu-title" data-i18n="Mail">Preguntas</span>
                    <!--<span class="badge new badge pill pink accent-2 float-right mr-2">5</span>--></a>
        </li>
        <li class="bold"><a class="waves-effect waves-cyan"href="/web/cuestionarios"><i
                    class="material-icons">description</i><span
                    class="menu-title" data-i18n="Mail">Cuestionarios</span>
                    <!--<span class="badge new badge pill pink accent-2 float-right mr-2">5</span>--></a>
        </li>
        <li class="bold"><a class="waves-effect waves-cyan"href="javascript:void(0);"><i
                    class="material-icons">chrome_reader_mode</i><span
                    class="menu-title" data-i18n="Mail">Reportes</span>
                    <!--<span class="badge new badge pill pink accent-2 float-right mr-2">5</span>--></a>
        </li>
        
        
        <div class="ps__rail-x" style="left: 0px; bottom: -180px;"><div
                class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div
            class="ps__rail-y" style="top: 180px; height: 624px; right: 0px;"><div
                class="ps__thumb-y" tabindex="0" style="top: 60px; height:
                211px;"></div></div></ul>
    <div class="navigation-background"></div><a class="sidenav-trigger
        btn-sidenav-toggle btn-floating btn-medium waves-effect waves-light
        hide-on-large-only" href="#" data-target="slide-out"><i
            class="material-icons indigo lighten-1">menu</i></a>
</aside>
<!-- END: SideNav-->