<div>
    <h1>Bienvenido Prueba1</h1>
</div>

<div>
    Crear nuevo administrador
</div>

<form action="/creaAdministrador" method="POST">
    <input type="text" minlength="1" maxlength="25" placeholder="username" name="us_admin" required>
    <input type="password" minlength="8" maxlength="25" placeholder="password" name="pas_admin" required>
    <button type="submit">Aceptar</button>
</form>