<div class="cal-container">

    Calificaciones:
    <table class="cal-table"> 
        <tr>
            <th>Alumno: </th>
            <!-- Aquí van ir todas las actividades Que se realizaron-->
            <th>Practica1</th>
            <th>Practica2</th>
        </tr> 
        
    </table>

</div>  