<div class="form-container">
    <form class="escoger" method="POST" action="/escogerPractica">
        <select name="semestre" id="">
            <option value="1">Primer Semestre</option>
            <option value="2">Segundo semestre</option>
            <option value="3">Tercer Semestre</option>
            <option value="4">Cuarto semestre</option>
            <option value="5">Quinto semestre</option>
            <option value="6">Sexto semestre</option>
        </select>

        <input type="submit" name="send" id="send" class="button-send">
    </form>
</div>