<form action="/modifiAd" method="POST">
    <input type="text" minlength="1" maxlength="25" name="us_admin" placeholder="nombre de usuario" value="{{rows.us_admin}}" required>
    <input type="password" minlength="1" maxlength="25" name="pas_admin" placeholder="password" value="{{rows.pas_admin}}" required>
    <button type="submit">Aceptar</button>
</form>