<div class="archivo-container">
    <form action="/modifyPracticas/{{id_pra}}" method="post" enctype="multipart/form-data">
        <p>Agrega una descripción</p>
        <input type="text" id="description" name="description">
        <p>Ingresa un archivo</p>
        <input type="file" name="practice" id="practice">
        <input type="submit" class="button" name="send" id="send">
        <p id="avisos"> </p>
    </form>


</div>  