<script>
    function crea() {
        let body = document.getElementsByTagName('body');
        let node = document.createElement("div");
        let node1 = document.createElement('div');
        let text1 = document.getElementById('Pregunta').value;
        let text2 = document.getElementById('Respuesta').value;
        let textnode1 = document.createTextNode(text1);
        let textnode2 = document.createTextNode(text2);
        node.appendChild(textnode1);
        node1.appendChild(textnode2);
        document.getElementById('myList').appendChild(node);
        document.getElementById('Resp').appendChild(node1);
    }
    function res() {
        let contenedor = document.getElementById('cont');
        let res = document.createElement('input');
        res.setAttribute("type","radio");
        
    }
</script>
    <div id="cont">
        <h1>Creador de Formularios</h1>
        <p>Pregunta:</p>
        <input type="text" id="Pregunta" placeholder="Pregunta">
        <button onclick="res()">Agregar Respuesta</button>
        <button onclick="crea()">Guardar</button>
    </div>
    <div id="myList">

    </div>
    <div id="Resp">

    </div>