
<div id="chat-container">
    
        <div id="chat-window">
            <div id="output">

            </div>
            <div id="actions">

            </div>
        </div>
            <input type="text" class="form-control" id="username" placeholder="username">
            <input type="text" class="form-control" id="message" placeholder="Mensaje">
            <button class="btn btn-success"  id="send">Enviar</button>
</div>
