<div class="parallax-container">
    <div class="parallax"><img src="images_algebra/parallax9.png"></div>
</div>
<div class="section white z-depth-5">
    <h2 class="header center-align">Bienvenido {{usuario.nom_usu}}</h2>
    <div class="row container">
        <h4 class="grey-text text-darken-3 lighten-3 center-align">
            Espero que hayas tenido un gran dia
        </h4>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="images_algebra/parallax9.png"></div>
</div>