<form action="/modifiAct" method="POST">
    {{#each rows}}
    <input type="text" placeholder="actividad" name="actividad" value="{{con_act}}" required>
    <button type="submit">Aceptar</button>
    {{/each}}
</form>