
<div id="container" class="container"> 
    <div id="quizz" class="quizz">
        <h1>Creación de cuestionario</h1>
        
        Añade pregunta:
        <div id="btnadd">
            <button id='add' class='btn waves-effect waves-light' onclick='addQuestion()'>Añadir pregunta</button>
        </div>
        <select id="select">
            <option value="1">Pregunta de incisos</option>
            <option value="2">No sé</option>
        </select>
        <div id="preguntas"><div>
            
    </div>
    
</div> 
<div id='contenido'></div>
