<div>
  <table class="table table-white">
    <thead>
      <tr>
        <th scope="col">Nombre de grupo</th>
        <th scope="col">Botones</th>
      </tr>
    </thead>
    <tr>
        <td>
          <input type="text" maxlength="50" placeholder="nombre de grupo" name="grupo" required>
        </td>
        <td><button class="btn btn-success" onclick="clave()">Generar Token</button></td>
    </tr>
    <tr>
      <td><input type="text" maxlength="50" placeholder="token" id="token" disabled="true"></td>
    </tr>
  </table>
</div>