

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="apple-touch-icon"
            href="app-assets/images/logo/algebra.png">
        <link rel="shortcut icon" type="image/x-icon"
            href="app-assets/images/logo/algebra.png">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet">
        <!-- BEGIN: VENDOR CSS-->
        <link rel="stylesheet" type="text/css"
            href="app-assets/vendors/vendors.min.css">
        <link rel="stylesheet" type="text/css"
            href="app-assets/vendors/data-tables/css/jquery.dataTables.min.css">
        <link rel="stylesheet" type="text/css"
            href="app-assets/vendors/data-tables/extensions/responsive/css/responsive.dataTables.min.css">
        <link rel="stylesheet" type="text/css"
            href="app-assets/vendors/data-tables/css/dataTables.checkboxes.css">
        <!-- END: VENDOR CSS-->
        <!-- BEGIN: Page Level CSS-->
        <link rel="stylesheet" type="text/css"
            href="app-assets/css/themes/vertical-modern-menu-template/materialize.min.css">
        <link rel="stylesheet" type="text/css"
            href="app-assets/css/themes/vertical-modern-menu-template/style.min.css">
        <link rel="stylesheet" type="text/css"
            href="app-assets/css/pages/app-invoice.min.css">
        
        <!-- END: Page Level CSS-->
        <!-- BEGIN: Custom CSS-->
        <link rel="stylesheet" type="text/css"
            href="app-assets/css/custom/custom.css">
        <!-- END: Custom CSS-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Darkmode con Javascript</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
    <!--<link rel="stylesheet" href="css-admin/estilos.css">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


</head>

<body>
    <noscript>
        <h1>Esta pagina no funcionará bien sin JS ☺</h1>
    </noscript>

    {{>nav-admin2}}

    {{{ body }}}

    {{> footer-admin2}}
    <script src="js-admin/main.js"></script>
    <script src="app-assets/js/custom/custom-script.min.js"></script>
      <!-- BEGIN VENDOR JS-->
    <script src="app-assets/js/vendors.min.js"></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <script src="app-assets/vendors/data-tables/js/jquery.dataTables.min.js"></script>
    <script
        src="app-assets/vendors/data-tables/extensions/responsive/js/dataTables.responsive.min.js"></script>
    <script
        src="app-assets/vendors/data-tables/js/datatables.checkboxes.min.js"></script>
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN THEME  JS-->
    <script src="app-assets/js/plugins.min.js"></script>
    <script src="app-assets/js/search.min.js"></script>
    <script src="app-assets/js/custom/custom-script.min.js"></script>
    <script src="app-assets/js/scripts/customizer.min.js"></script>
    <!-- END THEME  JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <script src="app-assets/js/scripts/app-invoice.min.js"></script>
    <script src="app-assets/js/scripts/app-file-manager.min.js"></script>
    <!-- END PAGE LEVEL JS-->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.parallax');
            var instances = M.Parallax.init(elems, responsiveThreshold = 100);
        });
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems);
    </script>
</body>

</html>