<script>
function crea(){
    let node =document.createElement('div');
    let body= document.getElementsByTagName('body');
    let div1 = document.createElement("div");
    let txt1= document.createTextNode("Prueba1");
    div1.appendChild(txt1);
    body.appendChild(node);
}
    
</script>
<div id="bb">

</div>